.products-list-container {
    margin: 16px auto;
    max-width: 60%;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: auto;
}

img {
    width: 178px;
    height: 178px;
}

.info-button {
    background-color: #7866c9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}